html{
    background-color: rgb(226, 226, 226);
}

#quoteMold{
    display: none;
}

.quote {
    background-color: rgb(255, 255, 255);
    max-width: 550px;
    min-width: 200px ;
    border-radius: 10px;
    border: 2px solid rgb(191, 191, 191);
    margin : 10px;
    transition: 1.2s;
    cursor:pointer;
    position: relative;
}

.favorite i{
    color: rgb(224, 55, 55);
}

.author{
    font-size: 1rem;
    font-weight: 900;
    text-align: right;
    padding-right: 10px; 
}

.quotesArray{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.text{
    padding : 5px 20px 20px 20px;
    font-style: italic;
    font-size: 1.1rem;
}


h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
}

.heart{
    text-align: right;
    padding-right: 5px;
    color: gray; 
    scale : 1.4;
    transition: 0.5s;
    position: absolute;
    right: 10px;
    bottom: 45px;
}

/* .quote:hover i{
    color: rgb(224, 55, 55); 
    transform: scale(1.2);
} */
